
body{
    margin:0;
    background:url(photos/premeirleague/home2.jpg);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    overflow:hidden;
    height:100vh;
    filter:blur(0px);
    
}
li{
    list-style:none;
}
    

.nav-wrapper{
    display:flex;
    width:100%;
    height:12%;
    background-color:rgba(4, 255, 255, 0.9);
}
.logo{
    
    width:120px;
    height:80px;
}
.logo img{
    height:75px;
    width:100px;
}
.nav-links{
     height:80px;
     width:80%;
     display:inline-flex;
     margin-left:32%;      
}
.nav-links > ul{
   list-style: none;
   display:inline-flex;
   text-align:center;
}
.nav-links ul li{ 
   width:120px;
   padding:20px;
   margin-right:5px;
   text-transform:uppercase;
   color:white;
}

.nav-links ul li a{
    text-decoration:none;
    color:rgb(3, 31, 28);
}
.active,.nav-links ul > li:hover{
background-color:rgb(91, 109, 211);
border-radius:6px;
border-bottom:1px solid white;
}
.nav-links ul li .sub-menu{
    display:none;  
}
.sub-menu{
    display:block;
    background-color:transparent;
    margin-top:6px;
    margin-right:10px;
    position:absolute;
    top:9%;
    left:55%;
    background-color: rgb(15, 255, 255);
    width:15%;
    border-radius:3px; 
}
.nav-links ul li:hover .sub-menu{
    display:block;
    background-color:transparent;
    margin-top:6px;
    margin-right:10px;
    position:absolute;
    top:9%;
    left:55%;
    background-color: rgb(15, 255, 255);
    width:15%;
    border-radius:3px;
    
}
.nav-links ul li:hover .sub-menu ul{
    text-align:center;
    
}
.nav-links ul li:hover .sub-menu ul li{
    text-transform:lowercase;
    border-bottom:1px dotted white;
    padding:4px;
    margin:auto;
    color:black;
}
.nav-links ul li:hover .sub-menu ul li:hover{
    background-color:rgb(91, 109, 211);
}
.container{
    width:50%;
    height:50vh;
    background-color: rgba(93, 196, 196,0.1);
    background-image: linear-gradient( 68.4deg,  rgb(186, 207, 202) -0.4%, rgb(31, 181, 201) 100.2% );
    border-radius:10px;
    text-align:center;
    color:white;
    text-transform: italic;
    font-size:50px;
    justify-content:center;
    margin:auto;
    font-weight:bold;
}
.bottom{
    width:100%;
    height:100px;
    background-color:rgb(56, 13, 56);
    border-radius:3px;
    position:absolute;
    bottom:0;
}
.bottom .social-links{
margin:5% auto;
width:100%;
display:flex;
flex-direction: row;
justify-content:flex-end;
}
.bottom .social-links a{   
text-decoration: none;
}
.bottom .social-links img{
    width:40px;
    height:40px;
    margin-left:20px;
    margin-right:10px;    

}
@media only screen and (min-width:500px){
    
    .nav-wrapper{
        width:104%;
        height:20%;
    }
    .logo img{
        height:80px;
        width:75px;
    }
    .nav-links{
        height:99%;
        width:40.5%;
        display:flex;
        margin-left:32%;   
   }
   .nav-links > ul{
       display:block;
       padding-right:10px;
       margin:1px 78px;
       width:80px;
   } 
   .nav-links ul li{
    width:80px;
    padding:5px;
   }
   .nav-links ul li:hover .sub-menu{
    top:8%;
    left:75%;
    background-color:transparent;
    width:24%;
   }
   .nav-links ul li:hover .sub-menu ul{
       padding: 5px 20px;
       background-color:aqua;
       
   }
   .nav-links ul li:hover .sub-menu ul li{
       margin-left:-6px;
       margin-right:3px;
       
   }
   .container{
    width:90%;
    height:55vh;
   }
   .bottom{
    width:100%;
    height:70px;
   }
}
