*{
box-sizing:border-box;
}
h1{
    font-size:30px;
    text-align: center;
    color:rgb(29, 29, 207);
}
.container{
    background-color:aqua;
    
}
table tr td{
    padding:5px;
    background-color: red;
    color:white;
    border-radius:5px;
}