body{
    margin:0;
    overflow-x:hidden;
    height:100vh;
    filter:blur(0px);
    box-sizing: border-box;
    
}
li{
    list-style:none;
}
    

.nav-wrapper{
    display:flex;
    width:100%;
    height:12%;
    background-color:rgba(4, 255, 255, 0.9);
}
.logo{
    
    width:120px;
    height:80px;
}
.logo img{
    height:75px;
    width:100px;
}
.nav-links{
   
     height:80px;
     width:80%;
     display:inline-flex;
     margin-left:32%;
    
}
.nav-links > ul{
   list-style: none;
   display:inline-flex;
   text-align:center;
  
}
.nav-links ul li{ 
   width:120px;
   padding:20px;
   margin-right:5px;
   text-transform:uppercase;
   color:white;
}

.nav-links ul li a{
    text-decoration:none;
    color:rgb(3, 31, 28);
}
.active,.nav-links ul > li:hover{
background-color:rgb(91, 109, 211);
border-radius:6px;
border-bottom:1px solid white;
}
.content{
height:205vh;
width:100vw;
background:url(../city/photos/city\ squad.jpg);
background-position: center;
background-size:cover;
background-repeat:no-repeat;
position:relative;
margin:auto;
}
.main-content{
    
    background-color:rgba(211, 198, 198,0.6);
    position:absolute;
    justify-content:center;
    align-items:center;
    margin-top:10px;
    width:100vw;
    height:200vh;
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,300px));
    column-gap:20px;
    row-gap:20px;
    border-radius:39px;
}
.player{
    justify-content:center;
    text-align:center;
    width:300px;
    height:300px;
    object-fit:cover;
    object-position:center;
    border:1px solid rgb(36, 35, 35);
    transition:all 0.5s linear;
    border-radius:5px;
}
.player img{
    width:50%;
    height:50%;
}
.player p{
    margin:0;
    padding:0;
    color:rgb(0, 0, 0);
}
.player span{
    color:rgb(7, 158, 146);
    
}
.player:hover{
    background-color:rgb(150, 219, 219);

}
@media only screen and (max-width:700px){
    
    .nav-wrapper{
        width:106%;
        height:20%;
    }
    .logo img{
        height:120px;
        width:100px;
    }
    .nav-links{
        height:99%;
        width:40.5%;
        display:flex;
        margin-left:32%;   
   }
   .nav-links > ul{
       display:block;
       padding-right:10px;
       margin:1px 78px;
       width:80px;
   } 
   .nav-links ul li{
    width:80px;
    padding:5px;
   }
   .nav-links ul li:hover .sub-menu{
    top:8%;
    left:75%;
    background-color:transparent;
    width:24%;
   }
   .nav-links ul li:hover .sub-menu ul{
       padding: 5px 20px;
       background-color:aqua;
       
   }
   .nav-links ul li:hover .sub-menu ul li{
       margin-left:-6px;
       margin-right:3px;
       
   }
    .content{
        background-size:82vh 823vh;
        background-repeat:no-repeat;
        width:100%;
        height:823vh;
    }
    .main-content{  
        background-color:rgb(211, 198, 198);
        position:absolute;
        justify-content:center;
        align-items:center;
        margin-top:1px;
        margin-left:20px;
        width:90vw;
        height:823vh;
        display:grid;
        grid-template-columns:repeat(auto-fill,minmax(300px,300px));
        column-gap:20px;
        row-gap:20px;
        border-radius:39px;
    }

}


